*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
reports
coverage.out

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.pyc
*.pyo
*._*

*.swp
*.swo
build/*
pkg/*
src/*
reports/
coverage.txt
profile.out

# debian
debian/*.debhelper*
debian/*.substvar*
debian/files
debian/combaine-core/
debian/combaine-presetting/
debian/combaine-worker-ubic/
debian/combainer/
