Source: combaine
Section: misc
Priority: extra
Maintainer: Anton Tyurin <noxiouz@yandex.ru>
Build-Depends: debhelper (>= 7), cdbs, libzookeeper-dev
Standards-Version: 3.9.3
Homepage: https://github.com/noxiouz/Combaine

Package: combaine-presetting
Architecture: amd64
Depends: cocaine-tools,
 ${misc:Depends},
 cocaine-runtime (>= 0.11),
 python (>= 2.6)
Description: Combaine environment checker.
 Check environment.

Package: combainer
Architecture: amd64
Depends: ${shlibs:Depends}, 
 ${misc:Depends}, 
 cocaine-tools,
 cocaine-runtime (>= 0.11)
Description: Combaine dispather daemon.
 Combaine task dispatcher.

Package: combaine-core
Architecture: amd64
Depends: ${misc:Depends}, 
 cocaine-tools,
 python (>= 2.6),
 python-yaml,
 cocaine-framework-python (>= 0.11),
 cocaine-runtime (>= 0.10.6.6),
 combaine-presetting,
 python-tokenparser (>= 0.2)
Description: Core task handlers.
 Dispatchers of parsing and aggregate stages.

Package: combaine-plugin-mysql
Architecture: amd64
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python (>= 2.6),
 cocaine-tools,
 python-mysqldb,
 combaine-presetting,
 cocaine-framework-python (>= 0.11)
Description: Plugin which allows to use MySQL queries.
 Cloud app for puting/getting data from parser to Mysql
