Source: combaine
Section: misc
Priority: extra
Maintainer: Anton Tyurin <noxiouz@yandex.ru>
Build-Depends: debhelper (>= 7), cdbs, libzookeeper-dev
Standards-Version: 3.9.1
Homepage: https://github.com/noxiouz/Combaine

Package: combainer
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Combaine dispather daemon.
 Combaine task dispatcher.

Package: combaine-plugin-timetail
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Log fether.
 Log fetcher