#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.

export DH_ALWAYS_EXCLUDE=.git
export DH_VERBOSE=1
export DEB_VERBOSE_ALL=1

CPWD=$(shell pwd)
PACKAGE_PATH=$(CPWD)/src/github.com/combaine/combaine
BUILD_DIR=$(CPWD)/build

COMBAINE_LIB_PATH=/usr/lib/yandex/combaine
CORE_APPS_PATH=$(COMBAINE_LIB_PATH)/core-apps
DEB_DESTDIR=$(CPWD)/debian/tmp/


%:
	dh $@ --with python2

override_dh_auto_build:
	mkdir -p ${CPWD}/debian/tmp/go/src/github.com/combaine
	ln -s ${CPWD} ${CPWD}/debian/tmp/go/src/github.com/combaine/combaine
	cd ${CPWD}/debian/tmp/go/src/github.com/combaine/combaine && GOPATH=${CPWD}/debian/tmp/go make build && cd -

	python setup.py build --force

override_dh_install:
	python setup.py install --force --root=${CPWD}/debian/tmp --no-compile -O0 --install-layout=deb

	install -d $(DEB_DESTDIR)usr/bin
	install -m755 $(BUILD_DIR)/combainer  $(DEB_DESTDIR)usr/bin/combainer
	install -m755 $(BUILD_DIR)/worker  $(DEB_DESTDIR)usr/bin/combaine-worker

	# parsingApp
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/parsing-app
	install -m755 parsing_app.py  $(DEB_DESTDIR)$(CORE_APPS_PATH)/parsing-app
	install -m664 deploy/manifests/manifest_parsing-app.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/parsing-app
	install -m755 deploy/scripts/deploy_parsing-app.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/parsing-app/deploy.sh
	# custom
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/aggregate-custom
	install -m755 plugins/aggregators/custom.py  $(DEB_DESTDIR)$(CORE_APPS_PATH)/aggregate-custom
	install -m664 deploy/manifests/manifest_aggregate-custom.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/aggregate-custom
	install -m755 deploy/scripts/deploy_aggregate-custom.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/aggregate-custom/deploy.sh
	# agave
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/agave
	install -m755 $(BUILD_DIR)/agave  $(DEB_DESTDIR)$(CORE_APPS_PATH)/agave
	install -m664 deploy/manifests/manifest_agave.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/agave
	install -m755 deploy/scripts/deploy_agave.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/agave/deploy.sh
	# graphite
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/graphite
	install -m755 $(BUILD_DIR)/graphite  $(DEB_DESTDIR)$(CORE_APPS_PATH)/graphite
	install -m664 deploy/manifests/manifest_graphite.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/graphite
	install -m755 deploy/scripts/deploy_graphite.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/graphite/deploy.sh
	# razladki
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/razladki
	install -m755 $(BUILD_DIR)/razladki  $(DEB_DESTDIR)$(CORE_APPS_PATH)/razladki
	install -m664 deploy/manifests/manifest_razladki.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/razladki
	install -m755 deploy/scripts/deploy_razladki.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/razladki/deploy.sh
	# cbb
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/cbb
	install -m755 $(BUILD_DIR)/cbb  $(DEB_DESTDIR)$(CORE_APPS_PATH)/cbb
	install -m664 deploy/manifests/manifest_cbb.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/cbb
	install -m755 deploy/scripts/deploy_cbb.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/cbb/deploy.sh
	# solomon
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/solomon
	install -m755 $(BUILD_DIR)/solomon  $(DEB_DESTDIR)$(CORE_APPS_PATH)/solomon
	install -m664 deploy/manifests/manifest_solomon.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/solomon
	install -m755 deploy/scripts/deploy_solomon.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/solomon/deploy.sh
	# juggler
	install -d $(DEB_DESTDIR)$(CORE_APPS_PATH)/juggler
	install -m755 senders/juggler/juggler.py  $(DEB_DESTDIR)$(CORE_APPS_PATH)/juggler
	install -m755 senders/juggler/helpers.py  $(DEB_DESTDIR)$(CORE_APPS_PATH)/juggler
	install -m664 deploy/manifests/manifest_juggler.json $(DEB_DESTDIR)$(CORE_APPS_PATH)/juggler
	install -m755 deploy/scripts/deploy_juggler.sh $(DEB_DESTDIR)$(CORE_APPS_PATH)/juggler/deploy.sh

	# combaine-tuner
	install -d $(DEB_DESTDIR)$(COMBAINE_LIB_PATH)/presetting
	install -m664 deploy/presetting/profile.json $(DEB_DESTDIR)$(COMBAINE_LIB_PATH)/presetting
	install -m664 deploy/presetting/runlist.json $(DEB_DESTDIR)$(COMBAINE_LIB_PATH)/presetting
	install -m755 deploy/presetting/presetting.py $(DEB_DESTDIR)$(COMBAINE_LIB_PATH)/presetting
	dh_auto_install
	dh_install

override_dh_auto_test:
	@echo "No tests"

clean::
	dh_clean
	rm -rf $(PACKAGE_PATH)
	rm -rf $(BUILD_DIR)
	find . -type l | xargs rm -v $1 || true
